
.accordion-item {
    --accordion-item-padding: 0.5rem;
}

.accordion-item {
    position: relative;
    min-width: 1rem;
    min-height: 1rem;
}

.accordion-item:not(:first-child) {
    border-top: 1px solid rgb(220, 220, 220);
}
